{% extends 'base.html.twig' %}

{% block body %}
    <form>
    <select name="Rodyti: " id="showPerPage" onchange=getPerPage()>
        {% for age in range(10, 100, 15) %}
            <option value="{{ age }}">{{ age }}</option>
        {% endfor %}
    </select>
    </form>
    <select name="Rikiuoti pagal: ", id="chooseSorting">
        {% for key, value in keys %}
        <option value="{{ value }}">{{ key }}</option>
        {% endfor %}
    </select>
    <select name="Ieškoti pagal: ", id="chooseFiltering">
        {% for key, value in keys %}
            <option value="{{ value }}">{{ key }}</option>
        {% endfor %}
    </select>
    <input type="text" name="search" id="filter">
    <button type="button" id="toggleFiltering">Ieškoti</button>
    <button type="button" id="resetFiltering">Valyti rezultatus</button>

    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>


    <script type="text/babel", src="{{ asset('js/table.react.js') }}"></script>
    <script type="text/babel">
        var url = '{{ path("order_table_info") }}'

        ReactDOM.render(
        <BigTable url={url}/>,
            document.querySelector("#app")
        );
        </script>

{% endblock %}