{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-3 mb-3">
        <div class="col-sm-6 offset-1">
            {{ form_start(orderForm) }}
            {{ form_row(orderForm.customer.name, {'label': 'Vardas'}) }}
            {{ form_row(orderForm.customer.surname, {'label': 'Pavardė'}) }}
            {{ form_row(orderForm.customer.email, {'label': 'Elektroninis paštas'}) }}
            {{ form_row(orderForm.customer.country, {'label': 'Šalis'}) }}
            {{ form_row(orderForm.customer.city, {'label': 'Miestas'}) }}
            {{ form_row(orderForm.customer.address, {'label': 'Adresas'}) }}
            {{ form_row(orderForm.customer.phoneNumber, {'label': 'Telefono numeris'}) }}
            {{ form_row(orderForm.quantity, {'label': 'Kiekis'}) }}
            {{ form_row(orderForm.totalPrice, {'label': 'Suma, €'}) }}
            {% do orderForm.date.setRendered %}
            <button type="submit" class="btn btn-info" formnovalidate>Pateikti užsakymą</button>
            {{ form_end(orderForm) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
var quantityid = "{{ orderForm.quantity.vars.id }}";
document.getElementById(quantityid).oninput = function () {
    var quant = Number(document.getElementById(quantityid).value);
    var price = quant*{{ price }};
    console.log(price);
    document.getElementById("{{ orderForm.totalPrice.vars.id }}").value = Number(price).toFixed(2);

}
</script>
{% endblock %}